body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost' , sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main{
    width: 350px;
    height: 500px;
    /* background-color: cadetblue; */
    overflow: hidden;
    background-image: url("1.jpg") no-repeat center / cover;
}